/* Main Content style //////////////////////////////////////////////////////////////////////////////////////*/
th,
td,
table,
select {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  /* padding: 0;
    margin: 0; */
  color: #525454;
  border-radius: 3px;
}
/* select {
    color: #525454;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
} */
.mgw-appWrapper {
  padding: 5px;
}

.mgw-main-app-intro-wrapper {
  display: none;
}
.mgw-agree-wrapper {
  /* display: none; */
  width: 90%;
  margin: auto;
}
.mgw-agree-cb-wrapper {
  margin-top: 10px;
}

.mgw-option-wrap {
  border: 1pt solid #cdd5d5;
  padding: 5px;
  width: 90%;
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.2);
  position: relative;
  margin: auto;
  margin-bottom: 10px;
}
.mgw-main-option-header {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 7px;
}
.mgw-main-option-button {
  padding: 5px !important;
  margin-left: auto;
  display: flex;
  margin-right: 10px;
  margin-left: 20px;
}
.mgw-back-home-button {
  /* padding: 3px;
    margin-left: auto;
    position: absolute;
    right: 10px;
    top: 10px; */
}

.mgw-searchbar-wrapper {
  background-color: #457545;
  width: 91%;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  margin-left: 10px;
  /* margin: auto; */
}
.mgw-searchbar-wrapper div {
  /* margin: auto; */
  /* margin-left: 5px; */
}
.mgw-find-address-note {
  font-size: 12px;
  font-style: italic;
  color: grey;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 5px;
}
.mgw-pumping-rate-dropdown select {
  width: 250px;
}
.mgw-pumping-rate-dropdown {
  text-align: center;
}
.mgw-search-pumping-rate-dropdown {
  text-align: center;
  /* display: flex; */
}
.mgw-search-pumping-rate-dropdown select {
  width: 250px;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
}
/* overwrite esri styles */
.arcgisSearch .searchGroup .searchInput {
  width: 257px !important;
}
.searchClear {
  right: -106px !important;
}
.mgw-drawdown-table-wrapper {
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}
.mgw-selectFeatures-table-wrapper {
  margin-top: 20px;
  display: none;
}
.mgw-table-select-button {
  color: blue;
  text-align: center;
}
.mgw-table-select-button:hover {
  cursor: pointer;
}
.mgw-no-features-selected-text {
  margin-top: 20px;
  text-align: center;
  color: grey;
  font-size: 14px;
}
.mgw-selected-row-close {
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
.mgw-selected-row-close:hover {
  cursor: pointer;
}
.mgw-search-learn-more {
  color: blue;
  margin: auto;
  text-align: center;
  margin-bottom: 3px;
  font-weight: bold;
}
.mgw-search-learn-more span:hover {
  cursor: pointer;
}

.mgw-search-help-box {
  position: fixed;
  margin-left: 480px;
  z-index: 10000000;
  background: white;
  top: 180px;
  width: 400px;
  max-height: 400px;
  display: none;
  overflow: auto;
}
.mgw-search-help-header {
  border-bottom: 1px solid #cdd5d5;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 398px;
}
.mgw-search-help-header h4 {
  font-size: 13px;
  padding: 5px;
  margin: 0;
}
.mgw-search-help-header i {
  margin-left: auto;
}
.mgw-search-help-header i:hover {
  cursor: pointer;
}
.mgw-search-help-body {
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.mgw-known-learn-more {
  color: blue;
  margin: auto;
  text-align: center;
  margin-bottom: 3px;
  font-weight: bold;
}
.mgw-known-learn-more span:hover {
  cursor: pointer;
}

.mgw-known-help-box {
  position: fixed;
  margin-left: 480px;
  z-index: 10000000;
  background: white;
  top: 180px;
  width: 400px;
  max-height: 400px;
  display: none;
  overflow: auto;
}
.mgw-known-help-header {
  border-bottom: 1px solid #cdd5d5;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 398px;
}
.mgw-known-help-header h4 {
  font-size: 13px;
  padding: 5px;
  margin: 0;
}
.mgw-known-help-header i {
  margin-left: auto;
}
.mgw-known-help-header i:hover {
  cursor: pointer;
}
.mgw-known-help-body {
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}
