
/* Main Content style //////////////////////////////////////////////////////////////////////////////////////*/
.aoc-mainContentWrapper{
	/*margin: 10px 0 0 5px;*/
}
.aoc-mainSection{
	padding-left: 7px;
}
.aoc-headerSectionWrapper{
	 position: absolute; z-index: 1000; background-color: white; width: 100%; box-shadow: 0 2px 2px rgba(16,22,26,.5);
}
.aoc-openingWrapper{
	padding-left: 7px; padding-top: 5px;
}
.aoc-toolWrapper .button{
	color: red; padding:2px; 
}
.aoc-toolWrapper{
	text-align: right; margin: 10px 10px 0 auto;
}
.aoc-hamburger{
	width: 20px; margin: 4px; height: 3px; background-color: #2f6384;
}
hr{
	width: 97%; margin-right: 5px;
}
.hide{
	display: none;
	
}
.aoc-cbIndent{
	margin-left: 10px;
}
.aoc-mainHeaders{
	margin-bottom: 5px; margin-top: 5px;
}
.aoc-contentWrapper{
	margin-left: 5px; margin-bottom: 7px;
}
.aoc-pill{
	position: absolute !important; right: 20px; border: 1px solid #ddd; 
	border-radius: 1000px; background-color: #ddd;
}
.aoc-selRadio{
	position: absolute !important; right: 29px;
}
.aoc-helpLinkText{
	color: blue;
}
.aoc-helpLinkText:hover{
	color: #2795b6; cursor: pointer;
}
/* attribute area styling//////////////////////////////////////////////////////////////////////////////////*/ 
.aoc-attributePatch{
   	height: 18px; width: 18px; background-color: red; margin-right: 5px; border: 1pt solid #cdd5d5;
 }
.aoc-sum-wrap {
    width: 350px; margin: 3px; border: 1pt solid #cdd5d5; padding: 3px; box-shadow: 0 1px 1px rgba(16,22,26,.2); position: relative; display: flex;
}
.aoc-attText{
	font-size: 13px; color: #2f6384; font-weight: bold; margin-left: 8px;
}
.aoc-mainCB{
	margin-bottom: 4px !important;
}
.aoc-wetAttWrapper{
	margin-bottom: 10px;
}
.aoc-attributeTabArea{
	box-shadow: 0 2px 2px rgba(16,22,26,.5); padding-left: 5px;
	
}
.aoc-toggleBtn{
	padding: 10px; padding-left: 10px !important;
}

/* Sup data styling //////////////////////////////////////////////////////////////////////////////////////*/
.aoc-supDataWrapper{
	padding-left: 0px;
}
.aoc-supData{
	display: flex; margin-left: 5px;
}
.aoc-selectableLayersWrapper{
	display: flex; margin-left: 5px; color: #2f6384;
}

/* Table styles //////////////////////////////////////////////////////////////////////////////////////////*/
.aoc-tableWrapper{
	margin: -16px 0 10px 0;
}
.aoc-wetlandTable{
	border-collapse: collapse; border: 1px solid #ddd; box-shadow:0 1px 1px rgba(16,22,26,.2); width:98%; 
}
.aoc-wetlandTable td{
	border-top: 1px solid #999; text-align: center;
}
.aoc-wetlandTable th, .aoc-wetlandTable td {
    border-left: 1px solid #eee; border-right: 1px solid #eee; padding: 5px; border-collapse: collapse; font-size: 12px; color: #5d6165; margin-left: 3px;
}
.aoc-wetlandTable th {
	color: #5d6165; background: #f4f4f4; font-size: 12px;
}
.aoc-tableClose{
	text-align: center; font-size: 22px !important; color: rgb(140, 33, 48) !important;
}
.aoc-allClose{
	font-size: 22px !important; color: rgb(140, 33, 48) !important;
}

.aoc-tableClose:hover{
	color: rgb(140, 33, 48); cursor: pointer; background-color: #f4f4f4;
}
.aoc-allClose:hover{
	color: rgb(140, 33, 48); cursor: pointer; background-color: rgba(140,33,45,.1);
}
.aoc-tableRow:hover{
	background:#e1e7eb; cursor:pointer;
}
/* Tab styles */
.aoc-tabWrapper span{
	padding-left: 3px;
}
.aoc-tabWrapper{
	display: none;
}
.aoc-opacity{
	opacity: .2;
}
.aoc-opacity:hover{
	cursor:not-allowed !important;
}