/* Main Content style //////////////////////////////////////////////////////////////////////////////////////*/

.mgw-appWrapper {
    padding: 5px;
}
.mgw-agree-wrapper {
    display: none;
}
.mgw-main-app-intro-wrapper {
    /* display: none; */
}
.mgw-agree-wrapper {
    width: 90%;
    margin: auto;
}
.mgw-agree-cb-wrapper {
    margin-top: 10px;
}

.mgw-option-wrap {
    border: 1pt solid #cdd5d5;
    padding: 5px;
    width: 90%;
    box-shadow: 0 1px 1px rgba(16, 22, 26, 0.2);
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}
.mgw-main-option-header {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 7px;
}
.mgw-main-option-button {
    padding: 5px !important;
    margin-left: auto;
    display: flex;
    margin-right: 10px;
    margin-left: 20px;
}
.mgw-searchbar-wrapper {
    background-color: #457545;
    width: 91%;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    margin-left: 10px;
    /* margin: auto; */
}
.mgw-searchbar-wrapper div {
    /* margin: auto; */
    margin-left: 5px;
}
.mgw-find-address-note {
    font-size: 12px;
    font-style: italic;
    color: grey;
    width: 91%;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* overwrite esri styles */
.arcgisSearch .searchGroup .searchInput {
    width: 257px !important;
}
.searchClear {
    right: -106px !important;
}
